{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta hx-preserve="true" charset="UTF-8" />
    <meta
      hx-preserve="true"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <link
      hx-preserve="true"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.classless.min.css"
    />
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org/dist/ext/head-support.js"
    ></script>
    {{ template "head" . }}
  </head>
  <body hx-history="false" hx-ext="head-support">
    {{ template "body" . }}
  </body>
</html>
{{ end }}
