{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta hx-preserve="true" charset="UTF-8" />
    <meta
      hx-preserve="true"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script
      async
      hx-preserve="true"
      src="https://analytics.eu.umami.is/script.js"
      data-website-id="90ba5459-dc23-4ea8-a21f-829ec7170ecf"
    ></script>
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
    <link
      hx-preserve="true"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.classless.min.css"
    />
    <script
      hx-preserve="true"
      src="https://unpkg.com/htmx.org/dist/ext/head-support.js"
    ></script>
    <style hx-preserve="true">
      body > header {
        padding-top: 2em;
        padding-bottom: 0;
      }

      body > footer {
        padding-top: 0;
        padding-bottom: 2em;
      }
    </style>
    {{ template "head" . }}
  </head>
  <body hx-history="false" hx-ext="head-support">
    {{ template "body" . }}
  </body>
</html>
{{ end }}
