{{define "head"}}
<title>Counter</title>
{{ end }}

{{define "body"}}
<main>
  <article>
    <div>This is the counter page.</div>

    <div hx-boost="true">
      <a href="/">Go To Home.</a>
    </div>
  </article>
</main>
{{ end }}
