{{define "AuthCard"}}
<article>
  <hgroup>
    <h1>Login</h1>
  </hgroup>
  {{- range $name, $provider := .Providers }}
  <a type="button" id="{{ $name }}-sign-in" href="/login?provider={{ $name }}"
    >Sign In with {{ $provider.DisplayName }}</a
  >
  {{- end }} {{- if .SelfHostUsers }}
  <hr />
  <form _="on submit halt the event">
    <fieldset>
      <label>
        User name
        <input
          type="text"
          id="name"
          autocomplete="username webauthn"
          placeholder="User name"
          aria-describedby="invalid-helper"
        />
        <small style="display: none" id="invalid-helper"></small>
      </label>
    </fieldset>
    <button
      _="on click call register(#name.value)
      catch e
        add @aria-invalid='true' to #name
        set #invalid-helper.innerHTML to e
        set the *display of #invalid-helper to 'block'
      end"
      id="webauthn-register"
    >
      Register with WebAuthn
    </button>
    <button
      _="on click call login(#name.value)
      catch e
        add @aria-invalid='true' to #name
        set #invalid-helper.innerHTML to e
        set the *display of #invalid-helper to 'block'
      end"
      id="webauthn-sign-in"
    >
      Sign In with WebAuthn
    </button>
  </form>
  {{- end }}
</article>
{{ end }}
