{{define "AuthCard"}}
<article>
  <hgroup>
    <h1>Login</h1>
  </hgroup>
  {{- range $name, $provider := .Providers }}
  <a type="button" id="{{ $name }}-sign-in" href="/login?provider={{ $name }}"
    >Sign In with {{ $provider.DisplayName }}</a
  >
  {{- end }} {{- if .SelfHostUsers }}
  <hr />
  <form _="on submit halt the event">
    <input
      type="text"
      id="name"
      autocomplete="username webauthn"
      placeholder="Username"
    />
    <button _="on click call register(#name.value)" id="webauthn-register">
      Register with WebAuthn
    </button>
    <button _="on click call login(#name.value)" id="webauthn-sign-in">
      Sign In with WebAuthn
    </button>
  </form>
  {{- end }}
  <!-- TODO: CSRF Token -->
</article>
{{ end }}
