{{define "head"}}
<title>Home</title>
{{ end }}

{{define "body"}}
<main>
  {{if not .UserID }}
  {{ template "AuthCard" . }}
  {{ else }}
  <article>
    <div>Hello {{ .UserName }}!</div>
    <div hx-boost="true">
      <a href="/counter">Go To Counter.</a>
    </div>
  </article>
  {{ end }}
</main>
{{ end }}
