{{define "head"}}
<title>Home</title>
{{ end }}

{{define "body"}}
<main>
  <div>This is the main page.</div>

  <button hx-post="/count" hx-swap="innerHTML">Click on me!</button>

  <div hx-boost="true">
    <a href="/counter">Go To Counter.</a>
  </div>
</main>
{{ end }}
